
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 60%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.logo {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
}

.h2 {
    text-align: center;
    margin: 0 auto 20px;
    font-size: 3vw;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}
button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
.pay-button {
    display: block;
    margin-top: 20px;
    text-align: center;
    background: green;
    color: white;
    padding: 10px;
    text-decoration: none;
}
